body{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
}
.header h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 1px 5px black;
}
.clearfix .float-end img{
    width: 330px;
    height: 230px;
    margin-right: 20px;
    padding-left: 30px;
    margin-top: 15px;
}
.clearfix .float-start img{
    margin-left: 20px;
    width: 270px;
    height: auto;
    padding-top: 20px;
    padding-right: 30px;
}
.float-start figcaption{
    padding-right: 10px;
}
.clearfix p{
    font-size: 22px;
    margin-left: 10px;
    padding: 25px;
}
.clearfix{
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px rgba(143, 128, 108, 0.568);
}
.figure-caption{
    margin-right: 40px;
}
.container-fluid .clearfix h2{
    padding: 20px;
    margin: 15px;
    padding-top: 40px;
}
.carousel-caption.carousel-dark h5{
    color: black;
}
.carousel-caption.carousel-dark p{
    color: black;
}
.carousel.slide .carousel-item{
    max-height: 800px;
}
.carousel-item img{
    max-height: 800px;
    padding-left: 50px;
    padding-right: 50px;
}
